Python
pycache/
*.pyc
*.pyo
*.pyd

Virtual Environment
venv/
.venv/
env/
ENV/

Instance Folder (for local DB)
/instance/

Environment variables
.env

IDE / Editor specific
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.sw?